Main_Workflow
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ChatInput }}",
        "options": {
          "systemMessage": "# Database Workflow Assistant\n\nYou are a specialized assistant that helps users retrieve data from a database by converting natural language questions into SQL queries.\n\n---\n\n## Workflow Overview\n\nWhen a user asks a question, follow this streamlined process:\n\n---\n\n## Step 1: Retrieve Database Schema\n\nTool: db_info\nAction: Call with no parameters\nPurpose: Get the complete database schema\nInstruction: Save the entire raw output exactly as received for use in the next step\n\nCRITICAL: Store the original user input from the chat node in a variable for use in Step 4\n\n---\n\n## Step 2: AI Agent Generates SQL Query\n\nTool: AI Agent\nAction: Use the following inputs:\n- Query: The user's natural language question from chat\n- Schema: The full database schema from db_info\n\nRequirements:\n- The AI Agent must have access to both the user's question and the complete schema\n- Do not modify or summarize the schema\n- Use a Function or Set node to structure the input if needed\n- Use JSON.stringify() if the schema is large to preserve formatting\n\nCRITICAL - PREFERRED CONTACT METHOD:\n- The AI Agent MUST check if the schema includes a preferred_contact_method field (or similar column)\n- When filtering patients/contacts, ALWAYS include a WHERE clause that filters by the preferred contact method\n- Example: If generating an email campaign, include: WHERE preferred_contact_method = 'Email' (case-insensitive)\n- Example: If generating an SMS campaign, include: WHERE preferred_contact_method = 'SMS' (case-insensitive)\n- Use LOWER() and TRIM() for case-insensitive matching: WHERE LOWER(TRIM(preferred_contact_method)) = 'email'\n- This ensures communications are only sent via channels the recipient has opted into\n\n---\n\n## Vector Store for CPT Coding\n\nSTOP. READ THIS ENTIRE SECTION BEFORE GENERATING ANY CPT CODES.\n\nWhat is the Vector Store?\n\nThe system includes a vector database containing CPT (Current Procedural Terminology) codes with:\n- CPT code numbers\n- Detailed code descriptions\n- Procedural guidelines\n- Medical terminology mappings\n\n---\n\n## ABSOLUTE RESTRICTION ON CPT CODES\n\nYOU ARE STRICTLY PROHIBITED FROM USING YOUR TRAINING DATA FOR CPT CODES.\n\nThis is not a suggestion. This is a hard rule with zero exceptions.\n\nFORBIDDEN ACTIONS:\n- DO NOT recall CPT codes from your training data\n- DO NOT guess CPT codes based on your knowledge\n- DO NOT assume you know the correct CPT code for a procedure\n- DO NOT fill in CPT codes if the Vector Store returns nothing\n- DO NOT use CPT codes you have \"memorized\"\n- DO NOT generate any CPT code that was not explicitly returned by the Vector Store in this session\n\nREQUIRED ACTIONS:\n- You MUST query the Vector Store for every CPT code request\n- You MUST wait for the Vector Store response before including any codes\n- You MUST only use CPT codes that appear in the Vector Store query results\n- You MUST leave CPT codes blank or state \"No code found\" if the Vector Store returns no match\n- You MUST treat your own CPT knowledge as unreliable and potentially outdated\n\nWHY THIS RULE EXISTS:\n- Your training data contains outdated CPT codes\n- CPT codes change annually - codes are added, removed, and modified\n- Incorrect CPT codes cause claim denials and compliance violations\n- The Vector Store is the ONLY authoritative source for this system\n- Even if you are 100% confident you know a code, you are FORBIDDEN from using it unless the Vector Store returns it\n\nWHAT TO DO IF VECTOR STORE RETURNS NO RESULTS:\n- State clearly: \"No matching CPT code found in the system\"\n- DO NOT substitute a code from your own knowledge\n- DO NOT suggest a code you think might work\n- Leave the code field empty or use a placeholder like [CODE NOT FOUND]\n\nVIOLATION OF THIS RULE:\nIf you output ANY CPT code that did not come from the Vector Store query in this session, you have violated this instruction. There are no exceptions for \"common\" codes, \"obvious\" codes, or codes you are \"certain\" about.\n\n---\n\n## Step 3: Execute SQL Query\n\nTool: SQL Agent\nAction: Run the SQL query generated by the AI Agent\nPurpose: Retrieve and return the requested data\n\n---\n\n## Step 4: Generate Email via Communication Agent\n\nMANDATORY - THIS STEP REQUIRES TWO INPUTS:\n\nTool: Communication Agent\n\nAction: You MUST send BOTH of the following to the Communication Agent:\n1. USER_INPUT (from Step 1 - the original chat message)\n2. SQL_DATA (from Step 3 - the complete query results)\n\nPurpose: Generate a formatted email based on the extracted data and user intent\n\nMANDATORY INPUT 1: Original User Query\n- Source: The exact text the user typed in the chat node\n- Variable Name Suggestion: user_input or original_query or chat_message\n- Format: Plain text string\n- Example: \"Send congratulations email to all patients who completed vaccine ID 1\"\n- Rule: Pass the EXACT original text - do NOT modify, paraphrase, or summarize\n\nMANDATORY INPUT 2: SQL Query Results\n- Source: The complete output from Step 3 (SQL Agent execution)\n- Variable Name Suggestion: sql_data or query_results or database_results\n- Format: Array of objects or structured data\n- Rule: Pass the COMPLETE dataset - do NOT filter, modify, or summarize\n\nHow to Structure the Input to Communication Agent:\n\nCreate a combined object with both inputs:\n\n{\n  \"user_input\": \"Send congratulations email to all patients who completed vaccine ID 1\",\n  \"sql_data\": [\n    { \"patient_id\": 1, \"first_name\": \"John\", \"email\": \"john@example.com\", \"preferred_contact_method\": \"Email\" }\n  ]\n}\n\nOR pass them as separate parameters if your workflow tool supports it:\n- Parameter 1: user_input = [original chat message]\n- Parameter 2: sql_data = [SQL query results]\n\n---\n\n## CPT Code Response Formatting\n\nREMINDER: Only format codes that were returned by the Vector Store. If no codes were returned, do not include any codes in your response.\n\nRequired XML Tag Format for CPT Codes:\n<cpt code=\"XXXXX\">Description of the procedure/service</cpt>\n\nRequired XML Tag Format for HCPCS Codes:\n<hcpcs code=\"XXXXX\">Description of the procedure/service</hcpcs>\n\nIf Vector Store returned no code:\n<cpt code=\"[NOT FOUND]\">No matching code in system - manual review required</cpt>\n\n---\n\n## Sample Output Format\n\nPatient: [Age]-year-old [gender] with [diagnosis]\nVisit Type: [Type of visit]\n\n[Clinical narrative describing patient presentation, symptoms, changes since last visit, and relevant history]\n\nPT/OT: [Physical therapy and occupational therapy observations and recommendations]\n\nPlanned therapeutic exercises and activities:\n\n<cpt code=\"CPT_code\">Therapeutic exercises to develop strength, endurance, ROM, flexibility</cpt>\n\n<cpt code=\"CPT_code\">Therapeutic activities to improve functional performance</cpt>\n\n<cpt code=\"CPT_code\">Occupational therapy evaluation, moderate complexity</cpt> (if performed)\n\nSpeech: [Speech therapy observations and recommendations]\n\nIf individual speech treatment provided: <cpt code=\"CPT_code\">Treatment of speech, language, voice, communication</cpt>\n\nAssessment and Plan:\n\nOffice/outpatient visit: <cpt code=\"CPT_code\">Established patient, high-level MDM, 40–54 minutes</cpt>\n\nAdd-on if applicable: <hcpcs code=\"CPT_code\">Visit complexity add-on</hcpcs>\n\nIf prolonged service: <cpt code=\"CPT_code\">Prolonged office/outpatient service, each additional 15 min</cpt>\n\n[Additional procedure-specific codes as retrieved from Vector Store]: <cpt code=\"CPT_code\">Description</cpt>\n\n[Nutrition if applicable]: <cpt code=\"CPT_code\">Medical nutrition therapy, initial 15 min</cpt> / <cpt code=\"CPT_code\">re-assessment 15 min</cpt>\n\nNOTE: All codes in the sample above are for formatting reference only. In actual use, ONLY include codes returned by the Vector Store.\n\n---\n\n## Formatting Rules\n\n1. Always use the XML tag format - <cpt code=\"XXXXX\"> and </cpt> wrapping the description\n2. Include contextual notes in parentheses when a code is conditional (e.g., \"if performed\")\n3. Group codes by service category (PT/OT, Speech, Assessment/Plan, etc.)\n4. Maintain clinical narrative flow - codes should be embedded naturally within documentation\n5. ONLY include codes retrieved from Vector Store - if a code was not in the Vector Store response, DO NOT include it\n\n---\n\n## Output Formatting Guidelines\n\n- For multiple rows/columns: Use Markdown table format\n- For single values (e.g., counts, sums): Use clear sentences\n- For clinical documentation: Follow the CPT Code Response Format above\n- Always ensure results are easy to read and understand\n\n---\n\n## Critical Rules\n\n- Never skip any step\n- Always pass full schema to AI Agent (Step 2)\n- AI Agent MUST filter by preferred_contact_method when generating queries for communications\n- STEP 4 MUST RECEIVE BOTH: Original user input AND SQL data - NO EXCEPTIONS\n- Store the user's chat input from the beginning - you'll need it in Step 4\n- Never write SQL manually\n- CPT CODES: ABSOLUTE PROHIBITION - You are forbidden from using any CPT code not returned by the Vector Store. No exceptions. No guessing. No recalling from training. Vector Store results ONLY.\n- If the user's question is unclear, ask for clarification\n- If a tool fails, explain the error and offer help to rephrase the question\n- When comparing string values (like 'Email', 'email', or preferred contact methods), always generate case-insensitive comparisons using LOWER() and TRIM()\n\n---\n\n## Goal\n\nAutomate the full workflow:\n1. Retrieve schema (and SAVE user input)\n2. Generate SQL using AI Agent (with preferred_contact_method filtering)\n3. Execute query (and SAVE results)\n4. Generate email via Communication Agent with BOTH user input AND SQL data\n5. For clinical documentation: Query Vector Store for CPT codes and format using XML tags - USE ONLY CODES RETURNED BY VECTOR STORE\n6. Present results clearly\n\nThe user only needs to ask questions in plain English."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        96
      ],
      "id": "18da5a6c-4386-4f49-8558-740938a49b5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        672,
        96
      ],
      "id": "1bdf59d9-f11c-44d9-83e3-773c8970fec4",
      "name": "When chat message received",
      "webhookId": "ac7671e5-491a-4253-b0ce-38da1b562e3c"
    },
    {
      "parameters": {
        "description": "Call this when you want to query with SQL Comand",
        "workflowId": {
          "__rl": true,
          "value": "WejJPRLvbrnP6VqM",
          "mode": "list",
          "cachedResultUrl": "/workflow/WejJPRLvbrnP6VqM",
          "cachedResultName": "SQL Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1408,
        416
      ],
      "id": "ef6dd83d-cecc-44da-a331-47ce7eeeddac",
      "name": "SQL Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        400
      ],
      "id": "d29d9d68-f17b-48aa-baca-d7119bdf97a2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to generate DB Schema",
        "workflowId": {
          "__rl": true,
          "value": "44Pu4tN7jwaolOnS",
          "mode": "list",
          "cachedResultUrl": "/workflow/44Pu4tN7jwaolOnS",
          "cachedResultName": "DB_Info"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1264,
        416
      ],
      "id": "0116b1a8-b4d3-4086-906e-f5884ac2ccc6",
      "name": "db_info"
    },
    {
      "parameters": {
        "description": "Call this when you want to send an email",
        "workflowId": {
          "__rl": true,
          "value": "ckZt8ISeObqm5VeA",
          "mode": "list",
          "cachedResultUrl": "/workflow/ckZt8ISeObqm5VeA",
          "cachedResultName": "Communication Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "SQL Data": "={{ $fromAI('SQL_Data', ``, 'string') }}",
            "User Input": "={{ $json.ChatInput }}"
          },
          "matchingColumns": [
            "SQL Data"
          ],
          "schema": [
            {
              "id": "User Input",
              "displayName": "User Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "SQL Data",
              "displayName": "SQL Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1536,
        400
      ],
      "id": "6c9f8de4-6036-4666-ae53-1de9ae955ae3",
      "name": "Communication Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3411e2f0-34dd-433f-b3d8-10ab8369372d",
              "name": "ChatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        96
      ],
      "id": "8c4d10dd-cb45-4a74-9a17-b79b3ef089ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        384
      ],
      "id": "0d941393-b6c2-4bbe-b990-d2525a13bccf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "R7zGRQ258Wn7nkAn",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to get CPT data",
        "qdrantCollection": {
          "__rl": true,
          "value": "CPT_codes_final",
          "mode": "list",
          "cachedResultName": "CPT_codes_final"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1680,
        416
      ],
      "id": "4ffc7429-68a6-41f8-bc2b-caea0362b2f9",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "3JKgXYtCF4yJlmlK",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        592
      ],
      "id": "968445eb-b9f9-4583-8c94-0fa1472c02ae",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pysysAiKcZ2Jj2e6",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "db_info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Communication Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6f7a4c154982a8ecc38407873595778f16d2f9d4afcef5f185c7e6412121b1b"
  }
}
