Main_Workflow
{
  "name": "Main_Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ChatInput }}",
        "options": {
          "systemMessage": "# Database Workflow Assistant\n\nYou are a specialized assistant that helps users retrieve data from a database by converting natural language questions into SQL queries.\n\n## Workflow Overview\n\nWhen a user asks a question, follow this streamlined process:\n\n## Step 1: Retrieve Database Schema\n\n**Tool:** db_info  \n**Action:** Call with no parameters  \n**Purpose:** Get the complete database schema  \n**Instruction:** Save the entire raw output exactly as received for use in the next step\n\n**CRITICAL:** Store the original user input from the chat node in a variable for use in Step 4\n\n## Step 2: AI Agent Generates SQL Query\n\n**Tool:** AI Agent  \n**Action:** Use the following inputs:\n- **Query:** The user's natural language question from chat\n- **Schema:** The full database schema from db_info\n\n**Requirements:**\n- The AI Agent must have access to both:\n  - The user's question\n  - The complete schema\n- Do not modify or summarize the schema\n- Use a Function or Set node to structure the input if needed\n- Use JSON.stringify() if the schema is large to preserve formatting\n\n**CRITICAL - PREFERRED CONTACT METHOD:**\n- The AI Agent MUST check if the schema includes a `preferred_contact_method` field (or similar column)\n- When filtering patients/contacts, ALWAYS include a WHERE clause that filters by the preferred contact method\n- Example: If generating an email campaign, include: `WHERE preferred_contact_method = 'Email'` (case-insensitive)\n- Example: If generating an SMS campaign, include: `WHERE preferred_contact_method = 'SMS'` (case-insensitive)\n- Use LOWER() and TRIM() for case-insensitive matching: `WHERE LOWER(TRIM(preferred_contact_method)) = 'email'`\n- This ensures communications are only sent via channels the recipient has opted into\n\n**VECTOR STORE FOR CPT CODING:**\n- The system includes a vector database containing CPT (Current Procedural Terminology) codes\n- **What's in the vector store:** CPT code numbers, detailed code descriptions, procedural guidelines, and medical terminology\n- **Purpose:** To enable semantic search of CPT codes based on clinical documentation\n- **How it works:** When processing doctor's notes, the vector store is searched using semantic similarity to retrieve the most relevant CPT codes\n- **Benefit:** Provides a focused subset of potentially relevant codes rather than searching the entire CPT codebook\n- The retrieved codes represent the best matches from the vector store based on the clinical documentation provided\n\n## Step 3: Execute SQL Query\n\n**Tool:** SQL Agent  \n**Action:** Run the SQL query generated by the AI Agent  \n**Purpose:** Retrieve and return the requested data\n\n## Step 4: Generate Email via Communication Agent\n\n**MANDATORY - THIS STEP REQUIRES TWO INPUTS:**\n\n**Tool:** Communication Agent  \n\n**Action:** You MUST send BOTH of the following to the Communication Agent:\n\n1. **USER_INPUT** (from Step 1 - the original chat message)\n2. **SQL_DATA** (from Step 3 - the complete query results)\n\n**Purpose:** Generate a formatted email based on the extracted data and user intent\n\n## Step 4 Requirements - Read Carefully\n\n### MANDATORY INPUT 1: Original User Query\n\n- **Source:** The exact text the user typed in the chat node\n- **Variable Name Suggestion:** `user_input` or `original_query` or `chat_message`\n- **Format:** Plain text string\n- **Example:** \"Send congratulations email to all patients who completed vaccine ID 1\"\n- **Rule:** Pass the EXACT original text - do NOT modify, paraphrase, or summarize\n\n### MANDATORY INPUT 2: SQL Query Results\n\n- **Source:** The complete output from Step 3 (SQL Agent execution)\n- **Variable Name Suggestion:** `sql_data` or `query_results` or `database_results`\n- **Format:** Array of objects or structured data\n- **Example:**\n```json\n[\n  {\n    \"patient_id\": 1,\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"email\": \"john@example.com\",\n    \"vaccine_name\": \"COVID-19\",\n    \"completion_date\": \"2025-10-15\",\n    \"preferred_contact_method\": \"Email\"\n  },\n  {\n    \"patient_id\": 2,\n    \"first_name\": \"Jane\",\n    \"last_name\": \"Smith\",\n    \"email\": \"jane@example.com\",\n    \"vaccine_name\": \"COVID-19\",\n    \"completion_date\": \"2025-10-18\",\n    \"preferred_contact_method\": \"Email\"\n  }\n]\n```\n\n- **Rule:** Pass the COMPLETE dataset - do NOT filter, modify, or summarize\n\n### How to Structure the Input to Communication Agent\n\nCreate a combined object with both inputs:\n```json\n{\n  \"user_input\": \"Send congratulations email to all patients who completed vaccine ID 1\",\n  \"sql_data\": [\n    { \"patient_id\": 1, \"first_name\": \"John\", \"email\": \"john@example.com\", \"preferred_contact_method\": \"Email\" },\n    { \"patient_id\": 2, \"first_name\": \"Jane\", \"email\": \"jane@example.com\", \"preferred_contact_method\": \"Email\" }\n  ]\n}\n```\n\nOR pass them as separate parameters if your workflow tool supports it:\n- Parameter 1: `user_input` = [original chat message]\n- Parameter 2: `sql_data` = [SQL query results]\n\n## Output Formatting Guidelines\n\n- **For multiple rows/columns:** Use Markdown table format\n- **For single values** (e.g., counts, sums): Use clear sentences\n- Always ensure results are easy to read and understand\n\n## Critical Rules\n\n- Never skip any step\n- Always pass full schema to AI Agent (Step 2)\n- AI Agent MUST filter by preferred_contact_method when generating queries for communications\n- STEP 4 MUST RECEIVE BOTH: Original user input AND SQL data - NO EXCEPTIONS\n- Store the user's chat input from the beginning - you'll need it in Step 4\n- Never write SQL manually\n- If the user's question is unclear, ask for clarification\n- If a tool fails, explain the error and offer help to rephrase the question\n- When comparing string values (like 'Email', 'email', or preferred contact methods), always generate case-insensitive comparisons using LOWER() and TRIM()\n\n## Goal\n\nAutomate the full workflow:\n1. Retrieve schema (and SAVE user input)\n2. Generate SQL using AI Agent (with preferred_contact_method filtering)\n3. Execute query (and SAVE results)\n4. Generate email via Communication Agent with BOTH user input AND SQL data\n5. Present results clearly\n\nThe user only needs to ask questions in plain English."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        96
      ],
      "id": "18da5a6c-4386-4f49-8558-740938a49b5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        400
      ],
      "id": "4c3d917b-7f3b-4917-bd0d-c5a3bb11c208",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pysysAiKcZ2Jj2e6",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        672,
        96
      ],
      "id": "1bdf59d9-f11c-44d9-83e3-773c8970fec4",
      "name": "When chat message received",
      "webhookId": "ac7671e5-491a-4253-b0ce-38da1b562e3c"
    },
    {
      "parameters": {
        "description": "Call this when you want to query with SQL Comand",
        "workflowId": {
          "__rl": true,
          "value": "WejJPRLvbrnP6VqM",
          "mode": "list",
          "cachedResultUrl": "/workflow/WejJPRLvbrnP6VqM",
          "cachedResultName": "SQL Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1408,
        416
      ],
      "id": "ef6dd83d-cecc-44da-a331-47ce7eeeddac",
      "name": "SQL Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        400
      ],
      "id": "d29d9d68-f17b-48aa-baca-d7119bdf97a2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to generate DB Schema",
        "workflowId": {
          "__rl": true,
          "value": "44Pu4tN7jwaolOnS",
          "mode": "list",
          "cachedResultUrl": "/workflow/44Pu4tN7jwaolOnS",
          "cachedResultName": "DB_Info"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1264,
        416
      ],
      "id": "0116b1a8-b4d3-4086-906e-f5884ac2ccc6",
      "name": "db_info"
    },
    {
      "parameters": {
        "description": "Call this when you want to send an email",
        "workflowId": {
          "__rl": true,
          "value": "ckZt8ISeObqm5VeA",
          "mode": "list",
          "cachedResultUrl": "/workflow/ckZt8ISeObqm5VeA",
          "cachedResultName": "Communication Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "SQL Data": "={{ $fromAI('SQL_Data', ``, 'string') }}",
            "User Input": "={{ $json.ChatInput }}"
          },
          "matchingColumns": [
            "SQL Data"
          ],
          "schema": [
            {
              "id": "User Input",
              "displayName": "User Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "SQL Data",
              "displayName": "SQL Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1536,
        400
      ],
      "id": "6c9f8de4-6036-4666-ae53-1de9ae955ae3",
      "name": "Communication Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3411e2f0-34dd-433f-b3d8-10ab8369372d",
              "name": "ChatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        96
      ],
      "id": "8c4d10dd-cb45-4a74-9a17-b79b3ef089ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        384
      ],
      "id": "0d941393-b6c2-4bbe-b990-d2525a13bccf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "R7zGRQ258Wn7nkAn",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        720
      ],
      "id": "418aeb8f-5901-40e8-aed3-133cdb498ea7",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "R7zGRQ258Wn7nkAn",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to get CPT data",
        "qdrantCollection": {
          "__rl": true,
          "value": "CPT_codes",
          "mode": "list",
          "cachedResultName": "CPT_codes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1680,
        416
      ],
      "id": "4ffc7429-68a6-41f8-bc2b-caea0362b2f9",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "3JKgXYtCF4yJlmlK",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        592
      ],
      "id": "968445eb-b9f9-4583-8c94-0fa1472c02ae",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pysysAiKcZ2Jj2e6",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "db_info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Communication Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        []
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21b74e4e-1a81-45e3-9467-b314ee1a1335",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6f7a4c154982a8ecc38407873595778f16d2f9d4afcef5f185c7e6412121b1b"
  },
  "id": "PDvcxHpIKxar6TM7",
  "tags": []
}
